.dialogue {
  max-width: 370px;
}

.form {
  display: flex;
}

.form__button {
  font-family: "Press Start 2P", cursive;
  background: transparent;
  color: limegreen;
  border: none;
  cursor: pointer;
}
